.my-flex-container{
	  display: flex;
	 margin-left:5%;
	 margin-right:5%;
  }
 .first-container{
	margin-top: 5%;
	margin-bottom: 0.3%;
 }
  .my-flex-block{
	    flex-direction:column;
	      flex-wrap: wrap;
	      background: #C0C0C0;
	      border-top-left-radius: 13px;
	      border-top-right-radius: 13px;
	      border-bottom-right-radius: 13px;
	      border-bottom-left-radius: 13px;
	      box-shadow: 0 0 3px     #080707;
	  
      
      }
.container-left{

margin-left:5px;
}
.container-height{

height:60%;
}
.item-1 {
flex-basis: 20em;
margin-right:0.3%;
}
.item-2{
flex-basis:60em;
margin-right:0.3%;
}
.item-full{
	flex-basis:80em;

}
