body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-frame {
    background: #C0C0C0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    box-shadow: 0 0 3px #080707;
    /* margin-left: 2%;
    margin-right: 10%; */
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 2%;*/
    margin-top: 0.5%;
}

.my-flex-block {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background: #C0C0C0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    box-shadow: 0 0 3px #080707;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.my-flex-container {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
}

.marginCat {
    margin-top: 10%;
}

.container-left {
    margin-left: 5%;
}

.container-height {
    height: 60%;
}

.my-flex-coint {
    display: flex;
    flex-wrap: nowrap;
}

.container-frame-first {
    background: #C0C0C0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    box-shadow: 0 0 3px #080707;
    /*    margin-left: 2%;
    margin-right: 10%; */
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 2%;
    margin-top: 0.5%; */
}

.main {
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 4%;
}

.item-1 {
    flex-basis: 20%;
    margin-right: 0.3%;
}

.item-2 {
    flex-basis: 80%;
    margin-right: 0.3%;
}